.category{


font-family: "Times New Roman",Times,serif;
font-size: 18px;






}
.labelcategory{


font-family: "Times New Roman",Times,serif;
font-size: 17px;



}
.uploadheader{
 font-family:"Times New Roman",Times,serif;
  
   font-size: 20px;


	margin: 2px;
}
.button{

font-family: "Times New Roman",Times,serif;
font-size: 20px;
margin: 2px;




}